@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Paleta de colores */
:root {
    --green: #009933;
    --blue: #183264;
    --orange: #EB6012;
    --yellow: #F59D15;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modificar-perfil-title {
    color: var(--blue);
}

.modificar-perfil-form {
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

.modificar-perfil-form label {
    color: var(--blue);
    margin-right: 10px;
}

.modificar-perfil-form input,
.modificar-perfil-form select,
.modificar-perfil-button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modificar-perfil-form input:focus,
.modificar-perfil-form select:focus,
.modificar-perfil-button:focus {
    outline: none;
    border-color: var(--green);
}

.modificar-perfil-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modificar-perfil-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
    color: var(--blue);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modificar-perfil-li button {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modificar-perfil-li button:hover {
    background-color: #c94d0c;
}

.modificar-perfil-agregar-button {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    margin-left: 10px;
}

.modificar-perfil-agregar-button:hover {
    background-color: #102244;
    transform: scale(1.05);
}

.modificar-perfil-button {
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modificar-perfil-button:hover {
    background-color: #007a29;
}

@media (max-width: 768px) {
    .modificar-perfil-form {
        width: 100%;
        margin: 10px;
    }
}