@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Color Palette */
:root {
    --green: #009933;
    --blue: #183264;
    --orange: #EB6012;
    --yellow: #F59D15;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
}

.inicio-sesion-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.inicio-sesion h2,
.registro h2 {
    text-align: center;
    color: var(--blue);
    margin-bottom: 20px;
}

.inicio-sesion,
.registro {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex-basis: 45%; /* Define el ancho base de las columnas */
    min-width: 400px; /* Asegura un ancho mínimo */
}

.inicio-sesion-titulo, .registro-titulo {
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    margin-bottom: 20px;
}

.inicio-sesion-formulario, .registro-formulario {
    display: flex;
    flex-direction: column;
}

.inicio-sesion-label, .registro-label {
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--blue);
}

.inicio-sesion-input, .registro-input, .registro-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.inicio-sesion-input:focus, .registro-input:focus, .registro-select:focus {
    border-color: var(--blue);
    outline: none;
}

.inicio-sesion-boton, .registro-boton {
    background-color: var(--blue);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.inicio-sesion-boton:hover, .registro-boton:hover {
    background-color: var(--green);
}

.registro-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.registro-checkbox {
    margin-right: 10px;
}

.registro-check-label {
    font-size: 14px;
    color: var(--blue);
}

@media (max-width: 768px) {
    .pagina-principal {
        flex-direction: column;
        align-items: center;
    }

    .inicio-sesion, .registro {
        width: 100%;
        max-width: 90%;
    }
}